[Unit]
Description=gunicorn daemon for CrickGear
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/crickgear
ExecStart=/home/ubuntu/crickgear/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/home/ubuntu/crickgear/crickgear.sock \
    core.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target